# Data Retrieval

This notebook demonstrates our data retrieval process.

## The `DataBank` Construct

In [1]:
from data_pipeline.retrieval import DataBank, download_adj_close

Our `DataBank` collects all the tickers from the Wikipedia article on the list of S&P 500 companies. It has methods for downloading all the tickers, as well as organizing the tickers by GCIS Sector and GCIS Sub-Industry. Let's initialize an instance of our `DataBank` and collect tickers. (As a sanity check, we compute the length of the list of tickers we obtain.)

In [2]:
data_bank = DataBank()
tickers = data_bank.get_tickers()

len(tickers)

503

In [3]:
tickers[:5]

['MMM', 'AOS', 'ABT', 'ABBV', 'ACN']

## Tickers by Sector and Sub-Industry

The tickers can also be obtained by sector and sub-industry. In particular, the `DataBank` object has methods for constructing ticker-to-sector maps and ticker-to-subindustry maps. Here, the terms 'sector' and 'sub-industry' refer to the [GICS](https://en.wikipedia.org/wiki/Global_Industry_Classification_Standard) sectors and sub-industries. 

These methods are particularly useful when one would like to cluster particular tickers in accordance with their GICS classifications.

In [12]:
data_bank.get_sectors_list()[:5]

['Industrials',
 'Health Care',
 'Information Technology',
 'Consumer Staples',
 'Utilities']

In [13]:
data_bank.get_subind_list()[:5]

['Industrial Conglomerates',
 'Building Products',
 'Health Care Equipment',
 'Pharmaceuticals',
 'IT Consulting & Other Services']

In [8]:
from itertools import islice

In [10]:
dict(islice(data_bank.ticker_to_sector_map().items(), 5))

{'MMM': 'Industrials',
 'AOS': 'Industrials',
 'ABT': 'Health Care',
 'ABBV': 'Health Care',
 'ACN': 'Information Technology'}

In [11]:
dict(islice(data_bank.ticker_to_subind_map().items(), 5))

{'MMM': 'Industrial Conglomerates',
 'AOS': 'Building Products',
 'ABT': 'Health Care Equipment',
 'ABBV': 'Pharmaceuticals',
 'ACN': 'IT Consulting & Other Services'}

## Downloading Data

We download our data from Yahoo! Finance. Our primary data of interest will be the adjusted closing prices for the various tickers considered. One has to select a list of tickers, a `start` date and an `end` date (instead of a period), and one then obtains a dataframe whose columns are the tickers, and whose index is the date.

In [8]:
start = '2023-11-18'
end = TODAY

In [9]:
adj_closing_prices = download_adj_close(tickers, start, save_data=False)

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2023-11-18 00:00:00 -> 2023-11-28 17:04:11.277871)')

In [10]:
adj_closing_prices

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-11-20 00:00:00,113.980003,12.40,191.449997,138.309998,129.699997,101.199997,84.459999,330.899994,612.700012,183.820007,...,87.169998,60.060001,104.500000,29.940001,100.209999,127.516830,112.500000,220.539993,35.779999,176.059998
2023-11-21 00:00:00,123.919998,12.13,190.639999,138.729996,126.820000,101.910004,86.129997,330.260010,610.989990,181.250000,...,86.860001,60.020000,104.459999,30.990000,101.019997,127.636276,112.900002,222.410004,34.310001,178.729996
2023-11-22 00:00:00,123.989998,12.31,191.309998,138.470001,129.039993,102.699997,85.949997,333.130005,619.719971,182.669998,...,87.529999,60.430000,104.010002,31.360001,102.220001,128.332977,113.830002,225.860001,34.410000,179.350006
2023-11-24 00:00:00,126.620003,12.31,189.970001,138.669998,128.369995,102.870003,86.599998,334.040009,619.429993,183.050003,...,88.309998,60.520000,104.570000,31.320000,103.260002,127.904991,113.430000,228.919998,34.349998,180.210007
2023-11-27 00:00:00,125.010002,12.18,189.789993,139.089996,129.000000,102.709999,87.000000,332.429993,619.270020,183.770004,...,87.059998,60.450001,103.959999,31.480000,103.180000,127.690002,113.839996,231.500000,34.400002,178.789993
2023-11-28 00:00:00,124.709999,12.17,190.399994,138.080002,127.559998,102.059998,84.449997,332.559998,623.320007,183.199997,...,84.940002,60.970001,103.900002,31.480000,102.639999,126.389999,113.089996,233.889999,34.549999,176.970001

# Data Processing

Our data processing pipeline is simple:
* We take the adjusted close price data previously obtained as a dataframe from our retrieval process.
* We feed this dataframe to a `ClusterInput` class as an attribute, along with an optional second attribute `transform`. This second attribute is a function that will transform the multivariate time series into a multivariate time series that is more suitable for clustering purposes. For instance, we could normalize the time series using the $\ell_2$-norm. We would also take the series of returns as our clustering input. Alternatively, we could take the return of return series.
* The resulting `ClusterInput` object then has a `df` attribute representing the transposed transformed time series as a dataframe. The latter can readily be used as an input (features) for various standard clustering models that are part of standard libraries such as `scikit-learn` and `tslearn`.

Note that this input can be further by processing by the standard `preprocessing` classes of the aforementioned libraries. 

In what follows, we offer two examples: one using `KMeans` from `scikit-learn` and one using `TimeSeriesKMeans` from `tslearn`.

## Clustering Input Generation

In [11]:
from data_pipeline.processing import ClusterInput

In [12]:
clustering_input = ClusterInput(adj_closing_prices).df
clustering_input

Date,2023-11-21 00:00:00,2023-11-22 00:00:00,2023-11-24 00:00:00,2023-11-27 00:00:00,2023-11-28 00:00:00
A,0.087208,0.000565,0.021211,-0.012715,-0.002400
AAL,-0.021774,0.014839,0.000000,-0.010561,-0.000821
AAPL,-0.004231,0.003514,-0.007004,-0.000948,0.003214
ABBV,0.003037,-0.001874,0.001444,0.003029,-0.007261
ABNB,-0.022205,0.017505,-0.005192,0.004908,-0.011163
...,...,...,...,...,...
YUM,0.000937,0.005458,-0.003335,-0.001681,-0.010181
ZBH,0.003556,0.008237,-0.003514,0.003615,-0.006588
ZBRA,0.008479,0.015512,0.013548,0.011270,0.010324
ZION,-0.041084,0.002915,-0.001744,0.001456,0.004360
ZTS,0.015165,0.003469,0.004795,-0.007880,-0.010179

## Further Preprocessing (Optional)

In [13]:
from sklearn.preprocessing import RobustScaler

features_sklearn = RobustScaler().fit_transform(clustering_input)
features_sklearn

array([[ 5.82515761, -0.56052074,  2.90077242, -1.02664028, -0.13616226],
       [-1.32279063,  1.20994666, -0.51832089, -0.81402193, -0.01055935],
       [-0.17215902, -0.19468001, -1.64735483,  0.13455857,  0.31045918],
       ...,
       [ 0.6614718 ,  1.29337142,  1.66552912,  1.34018436,  0.87609464],
       [-2.58930868, -0.26908753, -0.79939288,  0.37170474,  0.4016557 ],
       [ 1.09999646, -0.20032221,  0.254606  , -0.54949227, -0.75508239]])

In [14]:
from tslearn.preprocessing import TimeSeriesScalerMinMax

features_tslearn = TimeSeriesScalerMinMax().fit_transform(clustering_input)
features_tslearn

array([[[1.        ],
        [0.13290267],
        [0.33952634],
        [0.        ],
        [0.10323286]],

       [[0.        ],
        [1.        ],
        [0.59470418],
        [0.3062709 ],
        [0.5722797 ]],

       [[0.26366751],
        [1.        ],
        [0.        ],
        [0.57580398],
        [0.97144291]],

       ...,

       [[0.        ],
        [1.        ],
        [0.72077732],
        [0.3968758 ],
        [0.26231056]],

       [[0.        ],
        [0.96818463],
        [0.86568042],
        [0.93608268],
        [1.        ]],

       [[1.        ],
        [0.53851243],
        [0.5908356 ],
        [0.0907377 ],
        [0.        ]]])

## Feeding Our `ClusterInput` To Models From Standard Libraries

We demonstrate this with preprocessing (on `features_<library_name>`) and without preprocessing (on `cluster_input`).

In [15]:
from sklearn.cluster import KMeans

KMeans().fit(features_sklearn).labels_

c:\Users\elmeh\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\elmeh\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

array([0, 3, 1, 1, 3, 0, 0, 3, 3, 3, 3, 1, 6, 1, 2, 5, 0, 0, 0, 0, 1, 7,
       7, 7, 0, 5, 0, 0, 3, 7, 3, 0, 2, 3, 3, 1, 3, 1, 7, 4, 0, 7, 2, 3,
       3, 7, 1, 4, 4, 3, 7, 3, 4, 0, 0, 2, 2, 0, 5, 1, 7, 7, 3, 1, 4, 4,
       3, 1, 0, 0, 3, 3, 5, 4, 7, 0, 7, 4, 0, 3, 0, 2, 3, 1, 1, 1, 2, 0,
       7, 5, 0, 3, 5, 1, 0, 3, 2, 5, 4, 0, 3, 3, 4, 0, 3, 5, 7, 4, 0, 0,
       0, 1, 5, 7, 4, 7, 0, 7, 1, 7, 7, 3, 7, 3, 4, 3, 0, 5, 3, 4, 5, 3,
       3, 7, 0, 0, 1, 4, 4, 4, 2, 1, 3, 0, 3, 4, 0, 0, 3, 0, 4, 3, 0, 1,
       5, 3, 4, 1, 3, 4, 4, 3, 3, 7, 3, 7, 1, 1, 2, 3, 7, 4, 1, 3, 4, 7,
       4, 0, 4, 0, 7, 4, 0, 1, 0, 2, 4, 5, 7, 7, 7, 1, 1, 0, 1, 0, 4, 7,
       0, 3, 7, 0, 7, 2, 4, 1, 1, 7, 2, 3, 3, 0, 4, 7, 5, 3, 3, 4, 0, 4,
       1, 1, 3, 7, 3, 7, 7, 5, 7, 0, 3, 1, 3, 0, 0, 4, 3, 7, 7, 5, 3, 1,
       2, 7, 0, 0, 1, 0, 1, 4, 3, 5, 7, 1, 4, 4, 2, 4, 7, 0, 5, 3, 3, 1,
       0, 0, 0, 4, 0, 3, 0, 0, 0, 3, 4, 7, 4, 7, 7, 7, 3, 5, 3, 0, 5, 1,
       0, 4, 7, 0, 5, 3, 1, 0, 7, 0, 1, 3, 0, 3, 3, 3, 5, 7, 1, 1, 0, 2,
       3, 3, 0, 7, 3, 3, 4, 5, 4, 7, 4, 3, 4, 4, 5, 4, 1, 5, 3, 4, 4, 2,
       3, 1, 3, 4, 0, 5, 7, 3, 3, 1, 1, 1, 3, 3, 4, 4, 0, 4, 7, 5, 1, 1,
       1, 4, 2, 0, 5, 1, 4, 0, 3, 7, 3, 0, 4, 3, 0, 4, 3, 2, 3, 3, 5, 0,
       3, 3, 3, 1, 4, 3, 4, 0, 4, 1, 4, 5, 1, 5, 1, 1, 1, 5, 1, 0, 2, 4,
       3, 0, 1, 0, 4, 3, 7, 2, 1, 4, 5, 4, 0, 7, 4, 4, 4, 1, 1, 1, 0, 0,
       1, 3, 1, 3, 7, 3, 5, 1, 3, 4, 1, 0, 0, 7, 1, 3, 4, 0, 4, 3, 0, 1,
       2, 4, 2, 5, 0, 5, 6, 7, 7, 4, 5, 7, 1, 3, 3, 3, 2, 0, 7, 7, 4, 4,
       0, 5, 3, 3, 0, 1, 1, 1, 4, 2, 7, 0, 0, 0, 7, 7, 1, 2, 0, 3, 5, 0,
       0, 4, 0, 2, 4, 1, 3, 7, 3, 4, 0, 0, 1, 1, 2, 5, 0])

In [16]:
KMeans().fit(clustering_input).labels_

c:\Users\elmeh\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\elmeh\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

array([0, 2, 6, 5, 7, 5, 5, 3, 3, 1, 4, 6, 6, 3, 3, 2, 5, 5, 5, 5, 3, 2,
       7, 2, 5, 6, 7, 5, 1, 4, 6, 7, 1, 1, 3, 6, 7, 7, 4, 5, 3, 4, 1, 1,
       4, 4, 6, 4, 5, 1, 4, 3, 6, 5, 5, 0, 1, 5, 2, 3, 4, 4, 6, 6, 6, 3,
       4, 3, 5, 5, 7, 1, 2, 6, 4, 5, 7, 6, 5, 3, 3, 1, 1, 6, 6, 7, 1, 5,
       4, 2, 3, 4, 2, 3, 5, 3, 3, 2, 6, 5, 3, 3, 6, 5, 3, 2, 4, 6, 5, 3,
       7, 7, 1, 4, 6, 6, 5, 4, 3, 4, 4, 3, 4, 3, 6, 7, 3, 2, 6, 6, 4, 3,
       3, 6, 0, 7, 3, 4, 6, 6, 1, 5, 3, 3, 3, 6, 5, 5, 3, 5, 6, 3, 5, 3,
       2, 3, 6, 6, 4, 6, 6, 3, 3, 4, 3, 4, 7, 3, 1, 3, 4, 6, 3, 3, 6, 2,
       6, 7, 3, 5, 4, 5, 3, 3, 5, 1, 6, 2, 4, 7, 7, 1, 3, 5, 3, 3, 5, 7,
       3, 7, 4, 5, 6, 1, 6, 3, 3, 4, 1, 1, 1, 7, 6, 4, 2, 7, 1, 6, 5, 6,
       3, 7, 3, 7, 3, 4, 4, 1, 4, 7, 4, 5, 3, 3, 5, 5, 1, 2, 2, 2, 6, 6,
       1, 7, 3, 7, 3, 7, 5, 5, 1, 2, 4, 3, 6, 4, 3, 6, 4, 5, 2, 3, 3, 1,
       7, 3, 3, 6, 3, 3, 3, 5, 3, 7, 5, 4, 5, 4, 4, 4, 3, 2, 7, 5, 2, 7,
       5, 6, 7, 3, 1, 7, 1, 3, 2, 3, 3, 3, 0, 3, 2, 7, 1, 4, 3, 5, 7, 1,
       3, 3, 5, 4, 1, 2, 7, 2, 6, 7, 5, 1, 5, 6, 2, 0, 7, 2, 3, 5, 3, 0,
       3, 3, 3, 3, 5, 2, 4, 6, 3, 5, 6, 6, 5, 3, 6, 5, 7, 6, 4, 2, 6, 3,
       5, 6, 0, 5, 2, 3, 6, 7, 1, 4, 3, 5, 6, 3, 5, 5, 7, 5, 3, 3, 1, 1,
       3, 7, 3, 3, 3, 3, 6, 6, 6, 7, 6, 1, 7, 2, 1, 1, 6, 2, 7, 7, 1, 3,
       7, 5, 3, 5, 5, 1, 4, 1, 7, 6, 2, 6, 5, 7, 6, 7, 6, 3, 6, 3, 5, 5,
       5, 2, 1, 1, 2, 6, 2, 5, 3, 5, 3, 5, 5, 4, 6, 7, 6, 3, 3, 4, 5, 3,
       1, 5, 1, 2, 5, 2, 0, 4, 7, 6, 6, 4, 7, 7, 1, 7, 3, 5, 4, 4, 7, 2,
       5, 2, 1, 1, 5, 7, 5, 3, 6, 1, 7, 3, 5, 0, 4, 7, 1, 1, 5, 1, 2, 5,
       3, 6, 5, 1, 5, 5, 7, 7, 3, 6, 0, 5, 7, 3, 3, 2, 5])

In [17]:
from tslearn.clustering import TimeSeriesKMeans

TimeSeriesKMeans().fit(features_tslearn).labels_

array([2, 1, 1, 2, 1, 2, 2, 0, 1, 1, 0, 0, 0, 1, 0, 1, 2, 2, 2, 2, 0, 0,
       2, 1, 2, 1, 1, 2, 1, 0, 1, 2, 1, 1, 2, 1, 1, 2, 0, 2, 2, 0, 1, 1,
       0, 0, 2, 0, 2, 1, 0, 0, 1, 2, 2, 0, 1, 2, 1, 0, 0, 0, 0, 1, 2, 0,
       1, 2, 2, 2, 1, 1, 1, 2, 0, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2,
       0, 1, 2, 0, 1, 0, 2, 0, 0, 1, 0, 2, 0, 0, 1, 2, 1, 1, 0, 0, 2, 2,
       2, 2, 1, 0, 1, 1, 2, 0, 2, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 2, 2, 2, 0, 0, 0, 2, 2, 0, 2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 1,
       1, 2, 1, 0, 0, 1, 1, 2, 0, 0, 0, 0, 2, 2, 1, 0, 0, 1, 1, 2, 1, 1,
       1, 2, 0, 2, 0, 2, 0, 0, 2, 1, 1, 1, 0, 1, 1, 1, 1, 2, 1, 2, 2, 2,
       2, 1, 0, 2, 0, 1, 1, 0, 0, 0, 1, 1, 1, 2, 0, 0, 1, 2, 1, 0, 2, 0,
       2, 2, 1, 1, 1, 0, 0, 1, 1, 2, 0, 2, 1, 0, 2, 2, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 2, 1, 2, 2, 2, 1, 1, 0, 2, 1, 0, 1, 1, 0, 2, 1, 1, 0, 1,
       2, 2, 2, 1, 0, 2, 0, 2, 2, 1, 2, 0, 2, 0, 0, 0, 1, 1, 1, 2, 1, 2,
       2, 0, 1, 0, 1, 2, 1, 0, 1, 2, 0, 0, 2, 1, 1, 1, 1, 0, 0, 2, 2, 1,
       0, 1, 2, 0, 1, 1, 2, 1, 1, 1, 0, 1, 2, 1, 1, 0, 1, 1, 0, 2, 0, 0,
       2, 1, 1, 0, 2, 1, 0, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 0, 1, 1, 2,
       2, 1, 0, 2, 1, 1, 2, 2, 1, 0, 0, 2, 0, 1, 2, 2, 1, 2, 1, 0, 1, 1,
       1, 2, 0, 2, 0, 1, 1, 1, 2, 2, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 0,
       1, 2, 0, 2, 2, 1, 0, 1, 2, 1, 1, 0, 2, 0, 2, 2, 1, 2, 1, 0, 2, 2,
       2, 1, 1, 1, 1, 1, 1, 2, 0, 2, 2, 2, 2, 0, 1, 1, 1, 0, 0, 0, 2, 2,
       1, 2, 1, 1, 2, 1, 0, 0, 2, 1, 1, 0, 2, 1, 1, 2, 1, 2, 0, 0, 2, 1,
       2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 0, 1, 1, 1, 2, 1, 1, 2,
       2, 0, 2, 1, 2, 2, 1, 2, 1, 0, 2, 2, 2, 2, 1, 1, 2], dtype=int64)

In [18]:
TimeSeriesKMeans().fit(clustering_input).labels_

array([2, 0, 0, 2, 0, 2, 1, 2, 0, 0, 2, 1, 0, 2, 2, 0, 2, 2, 2, 1, 2, 0,
       1, 0, 2, 0, 1, 2, 0, 1, 0, 1, 0, 0, 2, 1, 1, 1, 0, 2, 2, 0, 0, 0,
       2, 1, 2, 2, 2, 0, 1, 2, 0, 2, 2, 2, 0, 2, 0, 2, 1, 1, 0, 0, 2, 2,
       0, 2, 1, 2, 1, 0, 0, 1, 2, 2, 1, 2, 2, 2, 2, 0, 0, 0, 2, 1, 2, 2,
       1, 0, 2, 2, 0, 2, 1, 2, 2, 0, 1, 2, 2, 2, 0, 2, 0, 0, 1, 2, 2, 2,
       1, 1, 0, 2, 2, 0, 1, 2, 2, 0, 1, 2, 1, 0, 0, 1, 2, 0, 0, 1, 0, 2,
       0, 0, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 0, 2, 2, 2,
       0, 2, 0, 1, 0, 0, 0, 2, 2, 1, 2, 2, 1, 2, 0, 2, 1, 0, 2, 2, 0, 0,
       0, 1, 2, 2, 1, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 0, 0, 2, 0, 2, 1, 1,
       2, 0, 1, 2, 1, 0, 0, 2, 2, 1, 0, 0, 0, 1, 1, 2, 0, 1, 0, 2, 2, 2,
       1, 1, 0, 1, 0, 2, 1, 0, 0, 1, 2, 2, 2, 2, 1, 2, 0, 0, 0, 0, 0, 0,
       2, 1, 2, 1, 2, 1, 2, 2, 0, 0, 2, 2, 0, 2, 2, 2, 1, 2, 0, 2, 2, 0,
       1, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 0, 2, 2, 0, 1, 1, 0, 1,
       2, 0, 1, 2, 0, 1, 0, 2, 0, 2, 2, 2, 2, 0, 0, 1, 0, 1, 2, 2, 1, 0,
       0, 0, 2, 0, 0, 0, 1, 0, 0, 1, 2, 0, 2, 0, 0, 2, 1, 0, 2, 1, 2, 2,
       2, 2, 2, 2, 1, 0, 2, 0, 0, 2, 1, 1, 2, 2, 0, 2, 1, 2, 1, 0, 0, 2,
       1, 0, 2, 1, 0, 0, 1, 1, 0, 2, 2, 1, 0, 0, 2, 1, 0, 2, 2, 2, 0, 1,
       2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 2,
       1, 2, 2, 2, 2, 0, 1, 0, 1, 1, 0, 1, 2, 1, 1, 1, 2, 2, 0, 2, 2, 1,
       2, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 1, 2, 1, 1, 1, 0, 2, 2, 0, 2, 2,
       0, 2, 0, 0, 2, 0, 2, 0, 1, 2, 0, 1, 1, 1, 0, 1, 2, 2, 2, 2, 1, 0,
       2, 0, 0, 0, 2, 1, 2, 2, 1, 0, 1, 2, 1, 2, 1, 1, 0, 0, 2, 0, 0, 1,
       2, 2, 2, 0, 2, 1, 0, 1, 2, 2, 2, 2, 1, 2, 2, 0, 2], dtype=int64)

In [19]:
import hyperopt